*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: url(../img/imagen.jpg); /* inserta imagen al fondo */
    background-size: cover;/* intenta colocar toda la imagen que calce justo con la pantalla*/
    background-attachment: fixed;/* fija la imagen */
    /*tipo de letra roboto*/font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedor-form { /* modifica visualmente la clase contenedor-form de index.html */
    position: relative;
    background: rgba(0, 0, 0, 0.35);
    width: 100%;
    max-width: 500px;
    margin: 48px auto;
    color:white;
    border-radius: 5px;
    padding: 40px;
}

.contenedor-form .toggle { /* modifica visualmente la clase toggle de index.html*/
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #D30909;
    border-bottom: 2px solid #D30909;
    transition: all .5s ease;
    cursor: pointer;
}

.contenedor-form .toggle span {/*modifica visualmente la clase span dentro de toggle de index.html */
    letter-spacing: 1px;     
}

.contenedor-form .toggle:hover {/* le cambia de color a la clase toggle de index.html cuando pasa el mouse por encima*/
    border-top: 2px solid #0075D9;
    border-bottom: 2px solid #0075D9;
}

.contenedor-form .formulario h2 { /* modifica visualmente todo lo que este en h2 de index.html*/
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"]{/* modifica visulamente los cuadros de usuario y contraseña en index.html*/
    outline: none;
    background: rgba(0, 0, 0, 0.37);
    display: block;
    width: 100%;
    padding: 10px 15px;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #D30909;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px 0;
    transition: all .5s ease;
}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus{ /*los cuadros cambian de color cuando se les hace click*/

    border-bottom: 4px solid #0075D9;
}

.contenedor-form ::placeholder{/*cambia el color de la clase placeholder de index.html*/
    color: rgba(255, 255, 255, 0.5);
}

.contenedor-form input[type="submit"]{/*modifica visualmente la clase submit de index.html(inisio sesion)*/
    background: #D30909;
    color: #ffffff;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all .4s ease;
}

.contenedor-form input[type="submit"]:hover{ /*cambia el color de la clase submit de index cuando pasa el mouse por ahi */
    background: rgba(0,110,205, 0.8);
}

.contenedor-form .reset-password{ /*modifica visualmente el cuadro de la clase reset password "olvide mi contraseña" */
    background: rgba(0,110,205, 0.7);
    margin-left: 25%;
    width: 50%;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;        
}

.contenedor-form .reset-password a { /*modifica el "olvide mi contraseña" */
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.contenedor-form .formulario{
    padding: 40px;
    display: none;
}
.contenedor-form .formulario:nth-child(2){
    display: block;
}


.contenedor-form .contacto { /*modifica la clase contacto */
    margin-top: 10%;
}

.contenedor-form .contacto a { /*modifica la clase contacto donde esta el "Eaglecopters" */
    text-decoration: none;/*modifica que "Eaglecopters" no este subrayado */
}
.contenedor-form .contacto a:visited{ /*modifica donde esta el "Eaglecopters" que cuando se hace click al lick se coloca en blanco */
    color: #ffffff;
}
.contenedor-form .contacto a:hover{
    text-decoration: underline; /*el que al colocar el puntero por encima aparezca subrayado ("Eaglecopters")*/
    color: #ffffff;
}
.contenedor-form .contacto a:link{ /*el color del link cuando aun no es visitado ("Eaglecopters")*/
    color: #ffffff;
}


